/* First Mockup */
.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 2fr 0.5fr 1.75fr;
  width: 1000px;
  height: 400px;
  border: 1px solid lightgray;
  font-family: "Noto Sans JP", sans-serif;
  margin: auto;
  padding-left: 20px;
  grid-template-areas: "image1 image2 image3 image4" "title1 title2 title3 title4" "text1 text2 text3 text4";
}
.gridcontainer h2 {
  color: #60C28D;
}
.gridcontainer p {
  line-height: 1.5em;
  font-size: 15px;
}
.gridcontainer span {
  text-transform: uppercase;
}
.gridcontainer .image1 {
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: url(sanglier.png);
  background-repeat: no-repeat;
  background-position: center;
  grid-area: image1;
}
.gridcontainer .title1 {
  grid-row: 2/3;
  grid-column: 1/2;
  grid-area: title1;
}
.gridcontainer .text1 {
  grid-row: 3/4;
  grid-column: 1/2;
  grid-area: text1;
}
.gridcontainer .image2 {
  grid-row: 1/2;
  grid-column: 2/3;
  background-image: url(coca.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  grid-area: image2;
}
.gridcontainer .title2 {
  grid-row: 2/3;
  grid-column: 2/3;
  grid-area: title2;
}
.gridcontainer .text2 {
  grid-row: 3/4;
  grid-column: 2/3;
  grid-area: text2;
}
.gridcontainer .image3 {
  grid-row: 1/2;
  grid-column: 3/4;
  background-image: url(git.png);
  background-repeat: no-repeat;
  background-position: center;
  grid-area: image3;
  background-size: auto;
}
.gridcontainer .title3 {
  grid-row: 2/3;
  grid-column: 3/4;
  grid-area: title3;
}
.gridcontainer .text3 {
  grid-row: 3/4;
  grid-column: 3/4;
  grid-area: text3;
}
.gridcontainer .image4 {
  grid-row: 1/2;
  grid-column: 4/5;
  background-image: url(npm.png);
  background-repeat: no-repeat;
  background-position: center;
  grid-area: image4;
}
.gridcontainer .title4 {
  grid-row: 2/3;
  grid-column: 4/5;
  grid-area: title4;
}
.gridcontainer .text4 {
  grid-row: 3/4;
  grid-column: 4/5;
  grid-area: text4;
}

/*responsive*/
@media only screen and (max-width: 550px) {
  .gridcontainer {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(12 1fr);
    grid-template-areas: "image1" "title1" "text1" "image2" "title2" "text2" "image3" "title3" "text3" "image4" "title4" "text4";
  }
  .gridcontainer .image2 {
    height: 180px;
  }
  .gridcontainer .image3 {
    height: 180px;
  }
  .gridcontainer .image4 {
    height: 180px;
  }
}
/* end of 1st mockup*/
/* start of 3rd mockup*/
.bigflexbox {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 275px;
  margin: auto;
  margin-top: 100px;
}
.bigflexbox .cardleft {
  background-image: url(https://picsum.photos/200/300);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
}
.bigflexbox .cardright {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.bigflexbox .cardright .maincontent {
  padding: 10px 20px;
  height: 80%;
}
.bigflexbox .cardright .maincontent h4 {
  font-weight: bold;
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 2px;
}
.bigflexbox .cardright .maincontent p {
  font-family: "Noto Sans JP", sans-serif;
  color: grey;
  font-size: 14px;
  padding-top: 1px;
  font-weight: 500;
}
.bigflexbox .cardright .aside {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 20%;
  padding: 15px;
}
.bigflexbox .cardright .aside .photo {
  background-image: url(https://picsum.photos/200/300);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.bigflexbox .cardright .aside .info {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 15px;
}
.bigflexbox .cardright .aside .info h6 {
  margin: 1px;
  font-size: 12px;
  font-weight: 500;
}
.bigflexbox .cardright .aside .info p {
  color: grey;
  font-size: 12px;
  margin: 1px;
  color: grey;
}
.bigflexbox .cardright .aside .icone {
  padding-top: -20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

/* end of third mockup*/

/*# sourceMappingURL=mycss.css.map */
